<div ng-init="reset()">
    <section class="row">
        <div class="well form-group col-xs-4 col-xs-offset-4">
                <label class="control-label">
                    Search:
                    <input type="text" class="form-control" ng-model="search"/>
                </label>
        </div>
    </section>
    <section class="row" style="margin-top: 10px">
        <div class="well col-xs-4 col-xs-offset-4">
            <div class="list-group">
                <div ng-repeat="todo in todos() | filter:search">
                    <a ng-click="selectTodo(todo)"
                       ng-href="#/todos/{{todo.title}}"
                       class="list-group-item col-xs-11">
                        {{todo.title}}
                        <span class="pull-right glyphicon" ng-class="{'glyphicon-ok':todo.done}"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="col-xs-4 col-xs-offset-4">
        <a class="pull-right btn btn-primary" href="#/todos/new" ng-click="add()">Add</a>
    </footer>
</div>